<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_springMVC_mybatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_springMVC_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_springMVC_mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_springMVC_mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>